:root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Racing Sans One", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1F233E;
  color: #ffffff;
  font-synthesis: none;
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


